.modal-content-paging .modal-body {
  border: 0px !important;
  font-size: 18px;
  padding-right: 20px;
}

.box-er-pagination {
  border-top: 2px #376bfb solid !important;
  border-left: 2px #376bfb solid !important;
  border-right: 2px #376bfb solid !important;
  border-bottom: 2px #376bfb solid !important;
}
