.branda-logo {
  width: 15%;
  height: 15%;
  color: #fff;
}

.branda-text {
  font-size: 500%;
  font-weight: bold;
  color: #fff;
}

.logo-agenda {
  width: 25%;
}

.card-stick {
  margin-top: -125px;
}

.shadow-stick {
  box-shadow: 10px 10px 10px #aaaaaa;
}

.brt-gambar1 {
  width: 100%;
  height: 97%
}

@media (min-width: 1281px) and (max-width: 1440px) {
  // card devisi

  .card-devisi-body {
    height: 96%;
  }

  .devisi-card {
    height: 21%;
  }

  // end card devisi

  .branda-logo {
    width: 15%;
    height: 15%;
  }

  .branda-text {
    font-size: 360%;
    font-weight: bold;
    color: #fff;
  }

  .brt-gambar1 {
    width: 100%;
    height: 450px
  }

  // Card Stick
  .logo-agenda {
    width: 25%;
  }

  .card-stick {
    margin-top: -65px;
  }

  //end Card stick

}

@media (min-width: 1024px) and (max-width: 1280px) {
  // card devisi

  .card-devisi-body {
    height: 96%;
  }

  .devisi-card {
    height: 21%;
  }

  // end card devisi

  .branda-logo {
    width: 15%;
    height: 15%;
  }

  .branda-text {
    font-size: 360%;
    font-weight: bold;
    color: #fff;
  }

  .brt-gambar1 {
    width: 100%;
    height: 396px
  }

  // Card Stick
  .logo-agenda {
    width: 25%;
  }

  .card-stick {
    margin-top: -85px;
  }

  //end Card stick

}

@media (min-width: 801px) and (max-width: 1024px) {
  // card devisi

  .card-devisi-body {
    height: 85%;
  }

  .icon-card {
    font-size: 3rem;
    position: absolute;
    left: 0;
  }


  .devisi-card {
    height: 20%;
    font-size: 1rem;
    margin-top: 50%;
  }

  .desc-card {
    height: 40%;
  }

  .font-text {
    font-size: 0.8rem;
  }

  .baca-card {
    position: absolute;
    top: 90%;
    left: 3%;
  }

  // end card devisi

  .branda-logo {
    width: 15%;
    height: 15%;
  }

  .branda-text {
    font-size: 250%;
    font-weight: bold;
  }

  .brt-gambar1 {
    width: 100%;
    height: 313px
  }

  // Card Stick
  .logo-agenda {
    width: 35%;
  }

  .card-stick {
    margin-top: -65px;
  }

  //end Card stick
}

@media (min-width: 769px) and (max-width: 800px) {

  // card devisi
  .card-devisi {
    margin-right: 10%;
  }

  .card-devisi-body {
    height: 79%;
    width: 140%;
  }

  .icon-card {
    font-size: 2.3rem;
    position: absolute;
    left: 3%;
  }

  .devisi-card {
    height: 20%;
    font-size: 1rem;
    margin-top: 30%;
  }

  .desc-card {
    margin-top: 1%;
    height: 35%;
  }

  .font-text {
    font-size: 1rem;
  }

  .baca-card {
    position: absolute;
    top: 90%;
    left: 3%;
  }

  // end card devisi

  .branda-logo {
    width: 15%;
    height: 15%;
  }

  .branda-text {
    font-size: 250%;
    font-weight: bold;
  }

  .brt-gambar1 {
    width: 100%;
    height: 240px
  }

  // Card Stick
  .logo-agenda {
    width: 35%;
  }

  .card-stick {
    margin-top: -65px;
  }

  //end Card stick
}

@media (min-width: 601px) and (max-width: 768px) {

  // card devisi
  .card-devisi {
    margin-right: 12%;
  }

  .card-devisi-body {
    height: 80%;
    width: 160%;
  }

  .icon-card {
    font-size: 2.5rem;
    position: absolute;
    left: 3%;
  }


  .devisi-card {
    height: 20%;
    font-size: 1rem;
    margin-top: 35%;
  }

  .desc-card {
    margin-top: 2%;
    height: 35%;
  }

  .font-text {
    font-size: 1rem;
  }

  .baca-card {
    position: absolute;
    top: 90%;
    left: 3%;
  }

  // end card devisi

  .branda-logo {
    width: 15%;
    height: 15%;
  }

  .branda-text {
    font-size: 200%;
    font-weight: bold;
    color: #fff;
  }

  .brt-gambar1 {
    width: 100%;
    height: 228px
  }

  // Card Stick
  .logo-agenda {
    width: 45%;
  }

  .card-stick {
    margin-top: -65px;
  }

  //end Card stick
}

@media (min-width: 481px) and (max-width: 600px) {
  // card devisi

  .card-devisi {
    margin-right: 17%;
  }

  .card-devisi-body {
    height: 80%;
    width: 190%;
  }

  .icon-card {
    font-size: 2.7rem;
    position: absolute;
    left: 3%;
  }


  .devisi-card {
    height: 20%;
    font-size: 1rem;
    margin-top: 43%;
  }

  .desc-card {
    margin-top: -2%;
    height: 35%;
  }

  .font-text {
    font-size: 0.9rem;
  }

  .baca-card {
    position: absolute;
    top: 90%;
    left: 3%;
  }

  // end card devisi

  .branda-logo {
    width: 15%;
    height: 15%;
  }

  .branda-text {
    font-size: 150%;
    font-weight: bold;
    color: #fff;
  }

  .brt-gambar1 {
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
  }

  // Card Stick
  .logo-agenda {
    width: 45%;
  }

  .card-stick {
    margin-top: -65px;
  }

  //end Card stick
}

@media (max-width: 500px) {
  // card devisi

  .card-devisi {
    margin-right: 50%;
  }

  .card-devisi-body {
    height: 80%;
    width: 350%;
  }

  .icon-card {
    font-size: 2.7rem;
    position: absolute;
    left: 3%;
  }


  .devisi-card {
    height: 20%;
    font-size: 1rem;
    margin-top: 30%;
  }

  .desc-card {
    margin-top: -1%;
    height: 35%;
  }

  .font-text {
    font-size: 0.9rem;
  }

  .baca-card {
    position: absolute;
    top: 90%;
    left: 3%;
  }

  // end card devisi
}

@media (min-width: 321px) and (max-width: 480px) {
  // card devisi

  .card-devisi {
    margin-right: 50%;
  }

  .card-devisi-body {
    height: 80%;
    width: 350%;
  }

  .icon-card {
    font-size: 2.7rem;
    position: absolute;
    left: 3%;
  }


  .devisi-card {
    height: 20%;
    font-size: 1rem;
    margin-top: 30%;
  }

  .desc-card {
    margin-top: -1%;
    height: 35%;
  }

  .font-text {
    font-size: 0.9rem;
  }

  .baca-card {
    position: absolute;
    top: 90%;
    left: 3%;
  }

  // end card devisi

  .branda-logo {
    width: 15%;
    height: 15%;
  }

  .branda-text {
    font-size: 112%;
    font-weight: bold;
    color: #fff;
    padding-top: 1rem !important;
  }

  .brt-gambar1 {
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
  }

  // Card Stick
  .logo-agenda {
    width: 50%;
  }

  .card-stick {
    margin-top: -50px;
  }

  //end Card stick
}

@media (max-width: 320px) {

  // card devisi
  .card-devisi {
    margin-right: 55%;
  }

  .card-devisi-body {
    height: 80%;
    width: 500%;
  }

  .icon-card {
    font-size: 2.7rem;
    position: absolute;
    left: 3%;
  }


  .devisi-card {
    height: 20%;
    font-size: 1rem;
    margin-top: 40%;
  }

  .desc-card {
    margin-top: -1%;
    height: 35%;
  }

  .font-text {
    font-size: 0.9rem;
  }

  .baca-card {
    position: absolute;
    top: 90%;
    left: 3%;
  }

  // end card devisi

  .branda-logo {
    width: 15%;
    height: 15%;
  }

  .branda-text {
    font-size: 83%;
    font-weight: bold;
    color: #fff;
    padding-top: 1rem !important;
  }
}
