// Here you can add other styles
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #23282c;
  text-align: left;
  background-color: #ffff;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

.size-body {
  width: 70%;
  height: 0%;
}

// font
.font-big {
  font-size: 50px;
}

.font-medium {
  font-size: 30px;
}

.font-text {
  font-size: 134%;
}

.font-12 {
  font-size: 12px;
}

.font-15 {
  font-size: 15px;
}

.font-bold {
  font-weight: 700;
}

.font-semi-bold {
  font-weight: 600;
}

// header
.app-header {
  background-color: #ffff;
  border-bottom: 1px solid transparent;
  color: #000;
  font-size: 195%;
  font-weight: 700;
}

.nav-header {
  .nav-item {
    .nav-link {
      color: #000 !important;
    }

    .nav-link:hover {
      color: #ffef00 !important;
    }
  }
}

//and Header
.breadcrumb {
  background-color: #185adb;
}

//card Stick
.ri-file-list-3-line {
  font-size: 5rem;
}

.ri-user-2-line {
  font-size: 5rem;
}

.ri-folder-chart-line {
  font-size: 5rem;
}

.text-stick {
  font-size: 2rem;
  margin-top: -18px;
}

// card and

//card visi misi
.img-visimisi {
  height: 135%;
}

.text-visimisi {
  font-size: 199%;
  padding-top: 11%;
  text-align: justify;
}

//and card visi misi
.navbar-nav .nav-link {
  color: #73818f !important;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
}

.nav-link:focus {
  color: #73818f;
}

//footer
.app-footer {
  background: #185adb;
  color: #ffff !important;
  font-weight: 700;
}

.footer-him {
  font-size: 204%;
}

.nav-footer {
  font-size: 186%;
  color: #fff;
  font-weight: 100;
}

.nav-footer:hover {
  color: rgb(178, 215, 243);
  text-decoration: none;
}

.footer-hmti {
  padding-right: 9%;
  padding-left: 9%;
  padding-top: 3%;
  margin-bottom: 3%;
}

.hori-footer {
  background: #fff;
  height: 3px;
  border-radius: 8px;
  margin-bottom: 2%;
}

.nav-item-footer {
  font-size: 169%;
  padding-top: 3%;
}

.nav-link-footer {
  font-size: 106%;
  color: #fff;
  font-weight: 100;
}

//and footer

// card devisi
.icon-humas {
  background-color: #1bff002e;
  border-radius: 20%;
  padding-right: 7%;
  padding-left: 7%;
  color: #7fd86f;
  font-size: 512%;
}

.icon-program {
  background-color: #ff4e4e63;
  border-radius: 20%;
  padding-right: 7%;
  padding-left: 7%;
  color: #ff4e4e;
  font-size: 512%;
}

.icon-media {
  background-color: #ffb84e66;
  border-radius: 20%;
  padding-right: 7%;
  padding-left: 7%;
  color: #ffb84e;
  font-size: 512%;
}

.icon-litbang {
  background-color: #4e8aff4f;
  border-radius: 20%;
  padding-right: 7%;
  padding-left: 7%;
  color: #4e8aff;
  font-size: 512%;
}

.devisi-card {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
}

.card-devisi-body {
  border-radius: 15px;
  border: 1px solid #dedede;
  box-shadow: 10px 8px 10px #aaaaaa;
  height: 34rem;
}

// card devisi

// card struktur
.img-card-struktur {
  height: 399px;
}

.card-struktur {
  background: #185adb;
  position: relative;
  margin-top: -35px;
  color: #fff;
  width: 90%;
  min-width: 90%;
  min-height: min-content;
}

// end card struktur

//card event
.card-event {
  min-width: 22%;
  max-width: 22%;
}

.main .container-fluid {
  padding: 0px 0px;
}

.video-player {
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

.radius-hard {
  border-radius: 20px;
}

.radius-soft {
  border-radius: 10px;
}

.content-size {
  width: 100%;
  height: 70%;
}

.font-tube {
  font-size: 40px;
}

.video-hmti {
  width: 100%;
  height: 450px;
}

.google-map {
  width: 43.6vw;
  height: 37.4vw;
}

// card event
.card-event {
  min-width: 38%;
  max-width: 38%;
}

@media (min-width: 1441px) and (max-width: 1920px) {
  //footer
  .app-footer {
    background: #185adb;
    color: #ffff !important;
    font-weight: 700;
  }

  .footer-him {
    font-size: 136%;
  }

  .nav-footer {
    font-size: 120%;
    color: #fff;
    font-weight: 100;
  }

  .footer-hmti {
    padding-right: 9%;
    padding-left: 9%;
    padding-top: 3%;
    margin-bottom: 3%;
  }

  .hori-footer {
    background: #fff;
    height: 3px;
    border-radius: 8px;
    margin-bottom: 2%;
  }

  .nav-item-footer {
    font-size: 120%;
    padding-top: 7%;
  }

  .nav-link-footer {
    font-size: 106%;
    color: #fff;
    font-weight: 100;
  }

  //and footer

  //app-header
  .app-header {
    font-size: 157%;
  }

  //end app header

  //card Stick
  .card-berita .px-5 {
    margin-left: -50px;
  }

  .card-berita .foto-card-berita {
    margin-left: -60px;
  }

  .ri-file-list-3-line {
    font-size: 3rem;
  }

  .ri-user-2-line {
    font-size: 3rem;
  }

  .ri-folder-chart-line {
    font-size: 3rem;
  }

  .text-stick {
    font-size: 1.5rem;
    margin-top: -18px;
  }

  // and card

  //   card berita
  .h-100 img {
    height: 225px;
  }

  .h-80 img {
    height: 210px;
  }

  .font-big {
    font-size: 226%;
    padding-left: 5% !important;
  }

  // end card berita

  // card-visi
  .img-visimisi {
    height: 131%;
  }

  .text-visimisi {
    font-size: 157%;
    padding-top: 13%;
    padding-bottom: 5%;
  }

  // end card-visi

  // card devisi
  .card-devisi-body {
    border-radius: 15px;
    border: 1px solid #dedede;
    box-shadow: 10px 8px 10px #aaaaaa;
    height: 32rem;
  }

  .devisi-card {
    font-size: 1.3rem;
  }

  .font-text {
    font-size: 133%;
  }

  // end card devisi

  // card struktur
  .card-struktur {
    margin-top: -32px;
    color: #fff;
  }

  // end card struktur

  // card event
  .card-event {
    min-width: 38%;
    max-width: 38%;
  }

  // card event end
}

@media (min-width: 1281px) and (max-width: 1440px) {
  //app-header
  .app-header {
    font-size: 157%;
  }

  //end app header

  //card Stick
  .card-berita .px-5 {
    margin-left: -50px;
  }

  .card-berita .foto-card-berita {
    margin-left: -60px;
  }

  .ri-file-list-3-line {
    font-size: 3rem;
  }

  .ri-user-2-line {
    font-size: 3rem;
  }

  .ri-folder-chart-line {
    font-size: 3rem;
  }

  .text-stick {
    font-size: 1.5rem;
    margin-top: -18px;
  }

  // end card

  //   card berita
  .h-100 img {
    height: 225px;
  }

  .h-80 img {
    height: 210px;
  }

  .font-big {
    font-size: 226%;
    padding-left: 5% !important;
  }

  // end card berita

  // card-visi
  .img-visimisi {
    height: 131%;
  }

  .text-visimisi {
    font-size: 157%;
    padding-top: 13%;
    padding-bottom: 5%;
  }

  // end card-visi

  // card devisi
  .card-devisi-body {
    border-radius: 15px;
    border: 1px solid #dedede;
    box-shadow: 10px 8px 10px #aaaaaa;
    height: 23rem;
  }

  .devisi-card {
    font-size: 1.3rem;
  }

  .font-text {
    font-size: 100%;
  }

  // end card devisi

  .card-struktur {
    margin-top: -32px;
    color: #fff;
  }

  // and card struktur
}

@media (min-width: 1025px) and (max-width: 1280px) {
  //app-header
  .app-header {
    font-size: 129%;
  }

  //end app header
  //card Stick
  .card-berita .px-5 {
    margin-left: -50px;
  }

  .card-berita .foto-card-berita {
    margin-left: -60px;
  }

  .ri-file-list-3-line {
    font-size: 3rem;
  }

  .ri-user-2-line {
    font-size: 3rem;
  }

  .ri-folder-chart-line {
    font-size: 3rem;
  }

  .text-stick {
    font-size: 1.5rem;
    margin-top: -18px;
  }

  // and card

  //   card berita
  .h-100 img {
    height: 200px;
  }

  .h-80 img {
    height: 185px;
  }

  .font-big {
    font-size: 203%;
    padding-left: 6% !important;
  }

  // end card berita

  // card-visi
  .img-visimisi {
    height: 131%;
  }

  .text-visimisi {
    font-size: 125%;
    padding-top: 14%;
  }

  // end card-visi

  // card devisi
  .card-devisi-body {
    border-radius: 15px;
    border: 1px solid #dedede;
    box-shadow: 10px 8px 10px #aaaaaa;
    height: 23rem;
  }

  .devisi-card {
    font-size: 1.3rem;
  }

  .font-text {
    font-size: 100%;
  }

  // end card devisi
}

@media (max-width: 1024px) {
  //app-header
  .app-header {
    font-size: 100%;
  }

  //end app header

  //card Stick
  .card-berita .px-5 {
    margin-left: -50px;
  }

  .card-berita .foto-card-berita {
    margin-left: -60px;
  }

  .ri-file-list-3-line {
    font-size: 3rem;
  }

  .ri-user-2-line {
    font-size: 3rem;
  }

  .ri-folder-chart-line {
    font-size: 3rem;
  }

  .text-stick {
    font-size: 1.2rem;
    margin-top: -18px;
  }

  // and card

  //   card berita
  .h-100 img {
    height: 157px;
  }

  .h-80 img {
    height: 142px;
  }

  .font-big {
    font-size: 190%;
    padding-left: 8% !important;
  }

  // end card berita

  // card-visi
  .img-visimisi {
    height: 101%;
  }

  .text-visimisi {
    font-size: 87%;
    padding-top: 0%;
    padding-bottom: 3%;
  }

  // end card-visi

  // card devisi
  .card-devisi-body {
    border-radius: 15px;
    border: 1px solid #dedede;
    box-shadow: 10px 8px 10px #aaaaaa;
    height: 26rem;
  }

  .devisi-card {
    font-size: 1.3rem;
  }

  .font-text {
    font-size: 100%;
  }

  // end card devisi

  // card event
  .card-event {
    min-width: 45%;
    max-width: 45%;
  }

  // card event end
}

@media (max-width: 800px) {
  //   card berita
  .h-100 img {
    height: 8rem;
  }

  .margin-card {
    margin-top: -6%;
  }

  .h-80 img {
    height: 7rem;
  }

  // end card berita

  // card visi
  .text-visimisi {
    font-size: 1rem;
    padding-top: 11%;
    text-align: justify;
  }

  // end card visi

  // card devisi
  .margin-card-devisi {
    margin-top: 5%;
  }

  // end card devisi

  // card struktur
  .img-card-struktur {
    height: 360px;
  }

  // end struktur

  // card event
  .text-value {
    height: 4.5rem;
  }

  // end card event
}

@media (max-width: 768px) {
  // card berita
  .h-100 img {
    height: 7.6rem;
  }

  .h-80 img {
    height: 6.6rem;
  }

  // end card berita
}

@media (max-width: 500px) {
  // card stick
  .text-stick {
    font-size: 0.8rem;
  }

  // end card stick

  // card event

  .card-event .card {
    width: 150%;
  }

  .card-event {
    margin-right: 20%;
  }

  .text-value {
    height: 3.6rem;
    font-size: 1.2rem;
  }

  // end card event

  // card devisi
  .card-devisi-body {
    height: 84% !important;
  }

  .devisi-card {
    margin-bottom: 7%;
  }

  .baca-card {
    // margin-top: 2%;
  }
  // end card devisi

  // card berita
  .foto-card-berita-kecil {
    display: inline-flex;
    // margin-right: 5px;
  }

  .h-100 img {
    height: 8rem;
    width: 99% !important;
  }

  .h-80 img {
    height: 7rem;
    margin-top: -40%;
    width: 99% !important;
  }

  .h-1 {
    margin-top: 1%;
  }

  .h-2 {
    margin-top: -1%;
  }

  // end card berita

  // card visi
  .card-visi-misi {
    margin-top: 15%;
  }

  // end card visi
}

@media (max-width: 480px) {
  // card stick
  .ri-file-list-3-line {
    font-size: 2.5rem;
  }
  
  .ri-user-2-line {
    font-size: 2.5rem;
  }
  
  .ri-folder-chart-line {
    font-size: 2.5rem;
  }
 .text-stick {
  font-size: 0.7rem;
  margin-top: -20%;
}

// end card stick
}

@media (max-width: 320px) {
  
}
