// Here you can add other styles
.app-header {
    background-color: #2f353a;
    border-bottom: 1px solid #2f353a;
    color: white;
    font-weight: 700;
}
.breadcrumb {
    background-color: #94bba9;
}
.app-footer {
    background: #94bba9;
    font-weight: 700;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #23282c;
    text-align: left;
    background-color: #e4e5e6;
}
// font
.font-big{
    font-size: 50px;
}
.font-medium{
    font-size: 30px;
}
.font-text{
    font-size: 20px;
}
.font-12{
    font-size: 12px;
}
.font-15{
    font-size: 15px;
}
.font-bold{
    font-weight: 700;
}
.font-semi-bold{
    font-weight: 600;
}
//font And
.navbar-nav .nav-link {
    color: #73818f !important;

}
.navbar-nav .nav-link:hover {
    color: #fff !important;
}
.nav-link:focus{
    color: #73818f;
}
.nav-footer{
    color:#2f353a;
}
.main .container-fluid {
    padding: 0px 0px;
}
.header-logo{
    padding-left: 2%;
    padding-right: 1%;
}
.video-player{
    width: 100%;
    height: 100%;
}

.radius-hard{
    border-radius: 20px;
}
.radius-soft{
    border-radius: 10px;
}

.content-size{
    width: 100%;
    height: 70%;
}
.font-tube{
    font-size: 40px;
}
.video-hmti{
    width: 100%;
    height: 450px;
}
.google-map{
    width: 43.6vw;
    height: 37.4vw;
}
@media (min-width: 1281px) and (max-width: 1440px) {
    .google-map{
        width: 41.5vw;
        height: 60.5vw;
    }
}
@media (min-width: 1024px) and (max-width: 1280px) {
    .google-map{
        width: 40.6vw;
        height: 72vw;
    }
}
@media (min-width: 801px) and (max-width: 1024px) {
    .header-logo{
        padding-left: 3%;
        padding-right: 2%;
    }
    .font-big{
        font-size: 38px;
    }
    .font-medium{
        font-size: 20px;
    }
    .google-map{
        width: 38.2vw;
        height: 90vw;
    }
}
@media (min-width: 769px) and (max-width: 800px) {
    .header-logo{
        padding-left: 3%;
        padding-right: 2%;
    }
    .font-big{
        font-size: 38px;
    }
    .font-medium{
        font-size: 20px;
    }
    .google-map{
        width: 86.5vw;
        height: 95.4vw;
    }
}
@media (min-width: 601px) and (max-width: 768px) {
    .header-logo{
        padding-left: 33%;
        padding-right: 2%;
    }
    .font-big{
        font-size: 20px;
    }
    .font-medium{
        font-size: 12px;
    }
    .google-map{
        width: 86.4vw;
        height: 99.4vw;
    }
}
@media (min-width: 481px) and (max-width: 600px) {
    .header-logo{
        padding-left: 29%;
        padding-right: 2%;
    }
    .font-big{
        font-size: 20px;
    }
    .font-medium{
        font-size: 12px;
    }
    .content-size{
        width: 100%;
        height: 250px;
    }
    .google-map{
        width: 82vw;
        height: 90.4vw;
    }.font-tube{
        font-size: 34px;
    }
}
@media (min-width: 321px) and (max-width: 480px) {
    .header-logo{
        padding-left: 25%;
        padding-right: 2%;
    }
    .font-big{
        font-size: 18px;
    }
    .font-medium{
        font-size: 8px;
    }
    .content-size{
        width: 100%;
        height: 200px;
    }
    .google-map{
        width: 78vw;
        height: 37.4vw;
    }
    .font-tube{
        font-size: 22px;
    }
}
@media (max-width: 320px) {
    .header-logo{
        padding-left: 15%;
        padding-right: 2%;
    }
    .radius-hard{
        display: none;
    }
    .content-size{
        width: 100%;
        height: 250px;
    }
}